nav, header{
    background-color: #142850;
}

body {
    background-color: #27496D;
}

h1, .nav-link {
    color: #fffacd;
}

.container-custom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
    background-color: rgb(174, 196, 255);
    border: black 2px solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.image-box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #333;
    flex-shrink: 0;
}

.card-text {
    flex-grow: 1;
}

.card-text p {
    margin: 4px;
    font-size: 18px;
    font-family: 'Times New Roman';
    font-weight: normal;
}

.card-text h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}


.program-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px 0;
}

.program-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    background-color: silver;
}

.program-card:hover {
    transform: translateY(-5px);
}


@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
    }
    .image-box img {
        width: 100%;
        height: auto;
    }
    .program-grid {
        grid-template-columns: 1fr;
    }
}

.footer {
    background-color: #142850; 
    margin-top: auto;
}
