nav, header, footer{
    background-color: #142850;

}


body{
    background-color: #27496D;
    max-width: 80%;
    margin: 0 auto;
}

p, h1{
    color: #fffacd;
    text-align: center;
    margin-bottom: 30px;
}

.nav-link{
    color: #fffacd !important;
}


img{
    max-width: 70%;
    margin-bottom: 50px;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #fffacd;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
}

.text-box-a {
    margin-left: 50px;
    margin-right: 100px;
}

.text-box-b {
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.card {
    background-color: rgba(18, 16, 160, 0.1);
    border: 2px solid #fffacd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
.card-text {
    color: #fffacd;
    text-align: left;
    
}
.card-title {
    color: #fffacd;
    text-align: left;
    margin-bottom: 20px;
}
.card li, ul{
    color: #fffacd;
    text-align: left;
    margin-bottom: 10px;
}
